@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --main-color: #1d1f23;
  --main-color-text: white;
  --text-color: #f6cd46;
  --text-hover-color: #e1b72e;
} */
@layer base {
  body {
    @apply font-primary bg-body !text-white;
  }
  .h2 {
    @apply text-3xl capitalize;
  }
  .card-shadow {
    @apply shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)];
  }
  .grad {
    @apply bg-gradient-to-t from-[#1F2126] to-[#33363D] drop-shadow-2xl;
  }
  .btn {
    @apply h-[50px] flex justify-center items-center rounded-[8px] px-10 py-[10px] text-sm uppercase font-bold;
  }
  .btn-accent {
    @apply bg-accent hover:bg-accent-hover transition-all;
  }
  .input {
    @apply h-[50px] rounded-[8px] w-full outline-none px-6 text-primary;
  }
}
* {
  box-sizing: border-box;
}
.a {
  text-decoration: none !important;
  color: inherit !important;
}
html {
  scroll-behavior: smooth;
}
.wpml-ls-link {
  cursor: pointer;
}
.landing {
  min-height: 100vh;
  background-image: url("./assets/Hero.jpg");
  background-size: 100% 100%; /* Updated */
  background-position: center;
  position: relative;
  margin-top: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0 0 0 / 60%); */
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
.ltr {
  direction: ltr !important;
}
.rtl {
  direction: rtl !important;
}
.hid {
  opacity: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
footer h5 {
  font-size: 18px;
  line-height: 24px;
  color: #232323;
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-transform: inherit;
}
